{% set current = 'quiz' %}

{% extends 'module.html' %}

{% block module_name %}
<h1>Quiz: {{ quiz.display_name }}</h1>
{% endblock %}

{% block module_content %}
<form action="{{ url_for('backend.quiz', quiz_id=quiz.id) }}" method="post" class="pure-form pure-form-stacked">
    {{ form.hidden_tag() }}
    <div class="pure-control-group">
        {{ form.display_name.label('Name:') }}
        {{ form.display_name }}
    </div>
    <div class="pure-control-group">
        {{ form.quiz_name.label('Module:')}}
        {{ form.quiz_name(readonly=true) }}
    </div>
    <div class="pure-control-group">
        {{ form.prev_quiz.label('Prev Quiz:') }}
        {{ form.prev_quiz }}
    </div>
    {% if quiz.next.quiz_name %}
    <div class="pure-control-group">
        <label for="next_quiz">Next Quiz:</label>
        <a href="{{ url_for('backend.quiz', quiz_id=quiz.next.id) }}">{{ quiz.next.quiz_name }}</a>
    </div>
    {% endif %}
    <div class="pure-controls">
        <button class="pure-button pure-button-primary" type="submit">Updated informations</button>
    </div>
</form>
{% endblock %}
